<template lang="pug">
  .content
    b-table#items(
      striped
      hover
      responsive="sm"
      sort-icon-left
      :items="list"
      :fields="fields"
      :per-page="perPage"
      :current-page="current"
      :sort-by.sync="sortBy"
      :sory-desc.sync="sortDesc")
      template(#cell(name)="row")
        router-link(:to="'library/' +  row.item.id") {{ row.item.name }}
      template(#cell(locale.name)="row")
        a(href="#" v-on:click="localeFilter($event, row.item.locale.id)") {{ row.item.locale.name }}
      template(#cell(category.name)="row")
        a(href="#" v-on:click="categoryFilter($event, row.item.category.name)") {{ row.item.category.name }}
      template(#cell(status)="row")
        b-badge(v-if="row.item.status === 'accepted'" variant="success") {{ row.item.status }}
        b-badge(v-else variant="danger" ) {{ row.item.status }}
    b-nav
      b-nav-item
        b-pagination(aria-controls="items"
          :total-rows="rows"
          :per-page="perPage"
          v-model="current")
      b-nav-item
        b-button(variant="success" :disabled="reset" v-on:click="resetFilter") Reset filter
</template>

<script src="./"></script>
