<template lang="pug">
  .content
    b-card(:title="item.name"
      :img-src="item.image.url"
      :img-alt="item.image.title"
      img-left
      tag="article"
      style="width: 100%;")
      b-card-text
        p(v-html="item.description")
    hr
    b-row
      b-col(v-for="img in item.gallery")
        b-img(thumbnail="" fluid="" :src="img.url")
    hr
    b-button(variant="primary" style="padding: 5px 20px;" v-on:click="back") Back
</template>

<script src="./"></script>

<style lang="scss">
article {
  img {
    max-height: 400px;
  }
}
</style>
